body {
    font-family: 'Times New Roman', Times, serif
}
header {
    height: 190px;
    background-color: darkcyan;
    background-image: linear-gradient(rgb(1,209,251),rgb(0,30,37));
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
h1 {
    color: darkcyan;
}
.left-justify {
    text-align: left;
}
.right-justify {
    text-align: right;
}